<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comic.description %>
</p>

	
	


<% if(current_user) %>
	
	<%= link_to "upvote", like_comic_path(@comic), method: :put %>
	<%= link_to "downvote", dislike_comic_path(@comic), method: :put %>

	<% if(current_user.follows?(@comic)) %>
		<%= link_to "subscribe", user_subscribe_path(@comic.user), method: :put  %>
	<% else %>
		<%= link_to "unsubscribe", user_unsubscribe_path(@comic.user), method: :put  %>
	<% end %>
<% end %>


	<%= @comic.score %>